
.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-input {
  font-family: "Roboto Mono", monospace;
  width: 90%;
  margin: 1em;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #c9c9c9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.invalid-feedback {
  width: 80%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #F94687;
}

/*.ng-invalid:not(form)  {
  border: 5px solid #a94442;
}*/

